@model QualityOfLife.Models.Responsavel

@{
    ViewData["Title"] = "Responsável/Detalhes";
}
<style>
    #perfil {
        width: 1100px;
        height: 300px;
        border-style: solid;
        background: #ffffff;
    }
    #perfil3 {
        flex-direction: row;
        justify-content: left;
        display: flex;
        margin-top: 30px;
        flex-direction: row;
        justify-content: left;
        align-items: baseline;
        color:deeppink;
    }
</style>
<link href="/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->

<div class=" container">
    <div class="Detalhes">
        <div class="row col-sm-12">
            <div class="col-sm-6">
                <h2>Responsável</h2>
            </div>
            <div class="col-sm-6" style="text-align:right; margin-top:10px;">
                <a asp-action="Index" title="Voltar" class="btn btn-sm btn-info">
                    Voltar
                </a>
            </div>
        </div>
    </div>
    <div class="row col-sm-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-sm-4">
            <label asp-for="Cpf" class="control-label"></label>
            <input asp-for="Cpf" class="form-control" disabled />

        </div>
        <div class="form-group col-sm-8">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" disabled />
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" disabled />

        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Profissao" class="control-label"></label>
            <input asp-for="Profissao" class="form-control" disabled />

        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Telefone1" class="control-label"></label>
            <input asp-for="Telefone1" class="form-control" disabled />

        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Telefone2" class="control-label"></label>
            <input asp-for="Telefone2" class="form-control" disabled />
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Telefone3" class="control-label"></label>
            <input asp-for="Telefone3" class="form-control" disabled />
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Cep" class="control-label"></label>
            <input name="cep" asp-for="Cep" class="form-control" disabled />
        </div>
        <div class="form-group col-sm-12">
            <hr />
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Rua" class="control-label"></label>
            <input name="rua" asp-for="Rua" class="form-control" disabled />
        </div>
        <div class="form-group col-sm-2">
            <label asp-for="Numero" class="control-label"></label>
            <input name="numero" asp-for="Numero" class="form-control" disabled />
        </div>

        <div class="form-group col-sm-4">
            <label asp-for="Complemento" class="control-label"></label>
            <input name="complemento" asp-for="Complemento" class="form-control" disabled />
        </div>
        <div class="form-group col-sm-5">
            <label asp-for="Bairro" class="control-label"></label>
            <input name="bairro" asp-for="Bairro" class="form-control" disabled />
        </div>
        <div class="form-group col-sm-5">
            <label asp-for="Cidade" class="control-label"></label>
            <input name="cidade" asp-for="Cidade" class="form-control" disabled />
        </div>
        <div class="form-group col-sm-2">
            <label asp-for="Estado" class="control-label"></label>
            <input name="estado" asp-for="Estado" class="form-control" disabled />
        </div>
    </div>
    <br />
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-primary" style="width:80px; height:30px;" class="btn btn-sm btn-danger">
            Editar
        </a>
        <button type="button" data-toggle="modal" data-target="#modalDel" style="width:80px; height:30px;" class="btn btn-sm btn-danger">
            Deletar
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDel" tabindex="-1" role="dialog" aria-labelledby="modalDelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DELETAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"><b>Deseja realmente deletar o responsável @Model.Nome?</b></div>
            <div class="modal-footer">
                <form asp-action="Delete" style="display:inline">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Sim" class="btn btn-danger" style="display: inline;" />
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
