@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icn/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icn/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icn/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icn/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icn/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icn/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icn/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icn/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icn/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/icn/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icn/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icn/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icn/favicon-16x16.png">
    <link rel="manifest" href="/images/icn/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/icn/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-quartz.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap-quartz.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-quartz.min.css" asp-append-version="true" />
    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img src="~/images/logosemfundo.png" alt="logo" style="width:50px;height:50px;">
            </a>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown" id="cadastro">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary nav-link dropdown-toggle" data-toggle="dropdown">
                                Cadastros
                            </button>
                            <div class="dropdown-menu">
                                <a class="nav-link" asp-area="" asp-controller="Responsaveis" asp-action="Index">Responsáveis</a>
                                <a class="nav-link" asp-area="" asp-controller="Pacientes" asp-action="Index">Pacientes</a>
                                <a class="nav-link" asp-area="" asp-controller="Profissionais" asp-action="Index">Profissionais</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown" id="financeiro">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary nav-link dropdown-toggle" data-toggle="dropdown">
                                Financeiro
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" asp-area="" asp-controller="Pedidos" asp-action="Index">Pedidos</a></li>
                                <li><a class="nav-link" asp-area="" asp-controller="Boletos" asp-action="Index">Boletos</a></li>
                                <li><a class="nav-link" asp-area="" asp-controller="Recibos" asp-action="Index">Recibos</a></li>
                                <li><a class="nav-link" asp-area="" asp-controller="Financeiro" asp-action="Faturamento">Relatório Faturamento</a></li>
                                <li><a class="nav-link" asp-area="" asp-controller="ContasApagar" asp-action="Index">Contas à Pagar</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary nav-link dropdown-toggle" data-toggle="dropdown">
                                Documentos
                            </button>
                            <div class="dropdown-menu">
                                <a class="nav-link" asp-area="" asp-controller="Realatorios" asp-action="Index">Relatórios</a>
                                <a class="nav-link" asp-area="" asp-controller="Anamseses" asp-action="Index">Anamneses</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary nav-link dropdown-toggle" data-toggle="dropdown">
                                Agenda
                            </button>
                            <div class="dropdown-menu">
                                <a class="nav-link" asp-area="" asp-controller="Agendas" asp-action="Index">Agenda Atendimentos</a>
                                <a class="nav-link" asp-area="" asp-controller="Agendas" asp-action="ControlePresenca">Controle de Presença</a>
                            </div>
                        </div>
                    </li>

                </ul>
                <partial name="_LoginPartial" />

            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <br />
        <footer style="bottom: 0; position: relative; ">
            <p style="float: right; margin-right:5px; margin-top:5px;">&copy; 2022 - Marcella Rosa & Equipe</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatable/css/jquery.dataTables.css"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
