@{
    ViewData["Title"] = "Marcella Rosa Terapeuta Ocupacional Infantil";
}

<br />
<div class="carousel-inner" role="listbox">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @*<div class="carousel-item active">
                    <img id="banners" class="d-block w-100" src="~/images/banners/Logomarca Marcella Rosa [Capa Facebook].png" alt="First slide">
                </div>*@
            <div class="carousel-item active">
                <img id="banners" class="d-block w-100" src="~/images/banners/pupuri.png" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>

</div>